/************************************************************
                              Global
 ************************************************************/
:root{
  --sex-m-fg: rgb(129, 169, 203);
  --sex-m-bg: rgb(237, 247, 253);
  --sex-f-fg: rgb(255, 32, 128);
  --sex-f-bg: rgb(255, 239, 253);
  --sex-u-bg: #8a8a8a;
}
body {
  min-width: 300px;
}

/* Spinner */
[dir] .wt-ajax-load:empty{
  height: 2rem;
}
[dir] .wt-ajax-load:empty::before {
  content: '';
  position: absolute;
  left: 50%;

  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -.125em;
  border: .25em solid currentColor;
  border-right-color: currentcolor;
  border-right-color: currentcolor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: .75s linear infinite spinner-border;
  animation: .75s linear infinite spinner-border;
}
@keyframes spinner-border {
  to { transform: rotate(360deg); }
}


/* Header */
#primary-header {
  padding: 5px;
}
#primary-header .wt-header-container {
  margin-top: 0;
}
.wt-header-content .wt-site-title{
  flex-grow: 0;
  order: 0;
}
.wt-header-content .navbar {
  padding: 0.25rem 0.5rem;
}
.wt-header-content .navbar-toggler {
  color: white;
  padding: 0;
  font-size: 2em;
}
@media (min-width: 992px) and (max-width: 1050px) {
  .wt-header-content .nav-link {
    font-size: 0.9rem;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .wt-header-content .nav-link {
    font-size: 0.75rem;
  }
}
@media (max-width: 475px), (min-width: 1200px) and (max-width: 1500px) {
  .wt-header-content .navbar-toggler,
  #primary-header .wt-header-content .wt-site-title {
    font-size: 1.5rem;
  }
}
@media (max-width: 350px) {
  .wt-header-content .navbar-toggler,
  #primary-header .wt-header-content .wt-site-title {
    font-size: 1.25rem;
  }
}
.wt-header-content .navbar-collapse {
  top: 100%;
}
.wt-header-content .wt-header-search{
  display: table;
}
.wt-header-content .wt-header-search-form{
  vertical-align: middle;
  display: table-cell;
}
.wt-header-content .wt-header-search-form .input-group > * {
  height: 100%;
}
@media (max-width: 991.8px) {
  .wt-header-content .navbar-nav > .nav-item > .dropdown-menu {
    background-color: #9991;
  }
}
@media (min-width: 992px) {
  .wt-header-content .navbar-nav > .nav-item > .dropdown-menu {
    position: absolute;
  }
}
@media (min-width: 992px) {
  .wt-header-content .navbar-collapse {
    display: flex;
  }
  .wt-header-content .navbar-nav {
    flex-direction: row;
    flex-grow: 1;
  }
  .wt-header-content .navbar-toggler,
  .wt-header-content hr {
    display: none;
  }
  .wt-header-content .navbar-nav .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
@media (min-width: 1200px) {
  .wt-header-content .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
}
.wt-header-content li > a {
  color: #fff;
}

/* Content */
#content {
  padding: 2rem 0;
}
@media (min-width: 1200px) {
  .container {
    max-width: 75vw;
  }
}
/* Footer */
#site-footer {
  display: none;
}

/* View options in one row */
/*.wt-page-options {
  display: flex;
  gap: 1em;
}
.wt-page-options > * {
  flex: 1;
}*/

/* Compact the options of the views */
.wt-page-options .form-group {
  margin-bottom: 0.25rem;
}

/*[dir] .wt-block {
  border: none;
}
[dir] .wt-block-header {
  background: none;
  font-weight: 600;
}

[dir] .table > :not(:first-child){
  border-top-width: 1px;
}
[dir] .table,
[dir] .table > *,
[dir] .table td, [dir] .table th {
  border-color: var(--lighter);
}*/


/********************* Individual page *********************/
[dir] .img-thumbnail{
  text-align: center;
}

/************************************************************
                   Magicsunday's Fan chart
       https://github.com/magicsunday/webtrees-fan-chart
 ************************************************************/

 .wt-route-webtrees-fan-chart div.tooltip table {
  border-collapse: separate;
}
.wt-route-webtrees-fan-chart div.tooltip table tr > *{
  border: none;
}
.wt-route-webtrees-fan-chart div.tooltip table th{
  background-color: transparent;
}

/************************************************************
               Magicsunday's Pedigree module
    https://github.com/magicsunday/webtrees-pedigree-chart
 ************************************************************/

#webtrees-pedigree-chart-container .person rect {
  stroke-width: 1px;
  rx: 10px;
  ry: 10px;
}
/*#webtrees-pedigree-chart-container .person > rect {
  fill-opacity: 1;
  fill: var(--sex-u-bg);
  stroke: none !important;
}
#webtrees-pedigree-chart-container .person > rect.male {
  fill: var(--sex-m-bg);
}
#webtrees-pedigree-chart-container .person > rect.female {
  fill: var(--sex-f-bg);
}
#webtrees-pedigree-chart-container .person .name {
  fill: #dfdfdf;
}
#webtrees-pedigree-chart-container .person .date {
  fill: rgb(225, 225, 225);
}*/

/************************************************************
                UksusoFF's Faces for webtrees
          https://github.com/UksusoFF/webtrees-faces
 ************************************************************/

.fancybox-toolbar > button.fancybox-button {
  padding: 10px;
}
