/************************************************
                Argon Light Theme
             Originally made by jchue
  Under the Internet Systems Consortium License
  https://github.com/jchue/argon-webtrees-theme

       Forked and maintained by Evan Galli
             Under the same licence
 https://github.com/06Games/Webtrees-ArgonLight
************************************************
              Magicsunday's addons
***********************************************/

.wt-route-webtrees-pedigree-chart .icon,
.wt-route-webtrees-descendants-chart .icon,
.wt-route-webtrees-fan-chart .icon {
  width: auto;
  height: auto;
}

.wt-route-webtrees-pedigree-chart .icon svg,
.wt-route-webtrees-descendants-chart .icon svg,
.wt-route-webtrees-fan-chart .icon svg {
  font-size: 1rem;
}

.wt-route-webtrees-fan-chart > div.tooltip table {
  border-collapse: initial;
}

.wt-route-webtrees-fan-chart > div.tooltip table th {
  background: none;
}