/*! ********************************************
                Argon Light Theme
             Originally made by jchue
  Under the Internet Systems Consortium License
  https://github.com/jchue/argon-webtrees-theme

       Forked and maintained by Evan Galli
             Under the same licence
 https://github.com/06Games/Webtrees-ArgonLight
************************************************/

@use "sass:color";

// ---------------------------------------------------------------------------
// Custom Color Foundation
// ---------------------------------------------------------------------------

$font-color: #67748e !default;
$h-color: #344767 !default;

$white: #fff;
$gray-100: #f6f9fc;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #8898aa;
$gray-700: #525f7f;
$gray-800: #32325d;
$gray-900: #212529;
$black: #000;

$blue: #5e72e4;
$indigo: #5603ad;
$purple: #8965e0;
$pink: #f3a4b5;
$red: #f5365c;
$orange: #fb6340;
$yellow: #ffd600;
$green: #2dce89;
$teal: #11cdef;
$cyan: #2bffc6;

// ---------------------------------------------------------------------------
// Genealogy Sex Colors
// ---------------------------------------------------------------------------


$f-color: $red !default;
$m-color: $teal !default;
$u-color: $gray-700 !default;
$x-color: $yellow !default;

$f-background: color.scale($f-color, $lightness: 95%) !default;
$m-background: color.scale($m-color, $lightness: 95%) !default;
$u-background: $white !default;
$x-background: color.scale($x-color, $lightness: 95%) !default;

// ---------------------------------------------------------------------------
// Layout Options
// ---------------------------------------------------------------------------

$compact-header: false !default;
$header-breakpoint: xxl;

// ---------------------------------------------------------------------------
// Argon Gradient Colors
// ---------------------------------------------------------------------------

$primary-gradient: #5e72e4 !default;
$primary-gradient-state: #825ee4 !default;

$secondary-gradient: #627594 !default;
$secondary-gradient-state: #a8b8d8 !default;

$info-gradient: #1171ef !default;
$info-gradient-state: #11cdef !default;

$success-gradient: #2dce89 !default;
$success-gradient-state: #2dcecc !default;

$danger-gradient: #f5365c !default;
$danger-gradient-state: #f56036 !default;

$warning-gradient: #fb6340 !default;
$warning-gradient-state: #fbb140 !default;

$dark-gradient: #212229 !default;
$dark-gradient-state: #212529 !default;

$light-gradient: #CED4DA !default;
$light-gradient-state: #EBEFF4 !default;

$theme-gradient-colors: (
  "primary": ($primary-gradient, $primary-gradient-state),
  "secondary": ($secondary-gradient, $secondary-gradient-state),
  "success": ($success-gradient, $success-gradient-state),
  "info": ($info-gradient, $info-gradient-state),
  "warning": ($warning-gradient, $warning-gradient-state),
  "danger": ($danger-gradient, $danger-gradient-state),
  "light": ($light-gradient, $light-gradient-state),
  "dark": ($dark-gradient, $dark-gradient-state)) !default;

// ---------------------------------------------------------------------------
// Extended Font Sizes
// ---------------------------------------------------------------------------

$font-size-xxs: .65rem !default;
$font-size-xs: .75rem !default;

// ---------------------------------------------------------------------------
// Extended Box Shadows
// ---------------------------------------------------------------------------

$box-shadow-xs: 0 1px 3px #32325d26,0 1px #00000005 !default;
$box-shadow-xl: 0 23px 45px -11px rgba(20, 20, 20, .25) !default;

// ---------------------------------------------------------------------------
// Extended Border Radii
// ---------------------------------------------------------------------------

$border-radius-xs: .125rem !default;
$border-radius-md: .5rem !default;
$border-radius-section: 10rem !default;