@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300 800; 
  font-stretch: 75% 100%; 
  font-display: swap;
  src: url('../fonts/OpenSans[wdth\,wght].woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300 800;
  font-stretch: 75% 100%;
  font-display: swap;
  src: url('../fonts/OpenSans-Italic[wdth\,wght].woff2') format('woff2-variations');
}
