/*! ********************************************
                Argon Light Theme
             Originally made by jchue
  Under the Internet Systems Consortium License
  https://github.com/jchue/argon-webtrees-theme

       Forked and maintained by Evan Galli
             Under the same licence
 https://github.com/06Games/Webtrees-ArgonLight
************************************************/

@use "sass:color";
@import "config/theme-variables";


.webtrees-pedigree-chart-container svg,
.webtrees-descendants-chart-container svg,
.webtrees-fan-chart-container svg {
  max-height: 80dvh;
}

[fullscreen] .webtrees-pedigree-chart-container svg,
[fullscreen] .webtrees-descendants-chart-container svg,
[fullscreen] .webtrees-fan-chart-container svg {
  max-height: 100dvh;
}

.wt-route-webtrees {

  &-pedigree-chart,
  &-descendants-chart,
  &-fan-chart {
    --sex-m-fg: #{$m-color};
    --sex-m-bg: #{$m-background};
    --sex-f-fg: #{$f-color};
    --sex-f-bg: #{$f-background};
    --sex-u-fg: #{$u-color};
    --sex-u-bg: #{$u-background};
    --sex-x-fg: #{$x-color};
    --sex-x-bg: #{$x-background};

    .icon {
      width: auto;
      height: auto;

      svg {
        font-size: 1rem;
      }
    }
  }

  &-pedigree-chart .webtrees-pedigree-chart-container,
  &-descendants-chart .webtrees-descendants-chart-container {

    svg g.person>rect,
    svg g.person:hover>rect {

      &.male,
      &.female,
      &.unknown,
      &.other {
        filter: drop-shadow(0 1px 3px rgba(50, 50, 93, 0.15)) drop-shadow(0 1px 0 rgba(0, 0, 0, 0.02));
        fill-opacity: 1;
      }
    }

    svg g.person:hover {

      rect.male {
        stroke: #{color.scale($m-color, $lightness: 70%)};
      }

      rect.female {
        stroke: #{color.scale($f-color, $lightness: 70%)};
      }

      rect.unknown {
        stroke: #{color.scale($u-color, $lightness: 70%)};
      }

      rect.other {
        stroke: #{color.scale($x-color, $lightness: 70%)};
      }
    }
  }

  &-fan-chart {
    &>div.tooltip table {
      border-collapse: initial;
      margin-bottom: 0;

      th,
      td {
        background: none;
        border: none;
      }
    }

    .webtrees-fan-chart-container svg {

      g.person.available g.arc path,
      g.marriage.available g.arc path {
        fill: var(--bs-light-bg-subtle);
        stroke: var(--bs-light-border-subtle);
      }

      g.person g.color path {
        filter: saturate(5);
      }
    }
  }
}

.wt-statistics-chart {
  --sans: var(--bs-font-sans-serif);
  --serif: Georgia, serif;
  --hero-bg-from: var(--bs-dark);
  --hero-bg-to: #{$dark-gradient};
  --wine: var(--bs-primary);
}
