/*! ********************************************
                Argon Light Theme
             Originally made by jchue
  Under the Internet Systems Consortium License
  https://github.com/jchue/argon-webtrees-theme

       Forked and maintained by Evan Galli
             Under the same licence
 https://github.com/06Games/Webtrees-ArgonLight
************************************************/

@use "theme.scss";
@use "gustine-sosa.scss";
@use "magicsunday.scss";
